{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="side">
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <img class="HotelCali" src="{% static 'Images/HotelCali.jpg' %}" alt="">
            <h5 class="card-title">Hotel California</h5>
        <p class="card-text">Enjoy the Private Pool and Join us on our Weekly BBQs on Friday</p>
        <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>
    &nbsp;
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <img class="HotelCali" src="{% static 'Images/HotelCali.jpg' %}" alt="">
            <h5 class="card-title">Hotel Transvania</h5>
        <p class="card-text">Enjoy the Private Pool and Join us on our Weekly BBQs on Friday</p>
        <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>
</div>
<div class="side1">
    <div class="card" style="width: 18rem;">

    <div class="card-body">
        <img class="HotelCali" src="{% static 'Images/HotelCali.jpg' %}" alt="">
        <h5 class="card-title">Hotel Reggie</h5>
      <p class="card-text">Enjoy the Private Pool and Join us on our Weekly BBQs on Friday</p>
      <a href="#" class="btn btn-primary">Book</a>
    </div>
  </div>
  &nbsp;
    <div class="card" style="width: 18rem;">

    <div class="card-body">
        <img class="HotelCali" src="{% static 'Images/HotelCali.jpg' %}" alt="">
        <h5 class="card-title">Hotel Reagent</h5>
      <p class="card-text">Enjoy the Private Pool and Join us on our Weekly BBQs on Friday</p>
      <a href="#" class="btn btn-primary">Book</a>
    </div>
  </div>  
</div>
{% endblock %}
