       
    
    
    {% block content %}
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        &nbsp; 
        <a class="navbar-brand" href="#">ZooLanding</a>
    
      
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            &nbsp; &nbsp; &nbsp; 
            <li class="nav-item_active">
              <a class="nav-link" href="{% url '' %}">Home</a>
            </li>
            &nbsp; 
            <li class="nav-item_active">
                <a class="nav-link" href="#">Events</a>
              </li>
              &nbsp;   
            <li class="nav-item_active">
                <a class="nav-link" href="#">Education</a>
              </li>
              &nbsp;   
            <li class="nav-item_active">
                <a class="nav-link" href="{% url 'hotel' %}">Hotel</a>
              </li>  
              &nbsp;   
            
            
          </ul>
            
        </div>
        <div class="nav-corner"> 
          <ul class="navbar-nav mr-auto justify-content-right">
            &nbsp; &nbsp; &nbsp; 
            {% if user.is_authenticated %}
              <li class="nav-item">
                <button class="btn btn-outline-success" href="#">DashBoard</button>
              </li>  
            &nbsp;  

            <li class="nav-item">
                <button class="btn btn-outline-success" href="#">Sign Out</button>
              </li>
            
            {% else %}
            <li class="nav-item">
                <button class="btn btn-outline-success" href="#">Login</button>
              </li>  
            &nbsp;  
  
            <li class="nav-item">
                <button class="btn btn-outline-success" href="{% urls 'signup' %}">Sign Up</button>
              </li>  
            
            
            &nbsp;    
            {% endif %}

    
          </ul>
        </div> 
      </nav>



    {% endblock %}
